bin/
obj/
samples/Server/bin/
samples/Server/obj/
src/identity/OpenIddict.UI.Identity.Api/bin/
src/identity/OpenIddict.UI.Identity.Api/obj/
src/identity/OpenIddict.UI.Identity.Core/bin/
src/identity/OpenIddict.UI.Identity.Core/obj/
src/identity/OpenIddict.UI.Identity.Infrastructure/bin/
src/identity/OpenIddict.UI.Identity.Infrastructure/obj/
src/openiddict/OpenIddict.UI.Api/bin/
src/openiddict/OpenIddict.UI.Api/obj/
src/openiddict/OpenIddict.UI.Infrastructure/bin/
src/openiddict/OpenIddict.UI.Infrastructure/obj/
src/suite/OpenIddict.UI.Suite.Api/bin/
src/suite/OpenIddict.UI.Suite.Api/obj/
src/suite/OpenIddict.UI.Suite.Core/bin/
src/suite/OpenIddict.UI.Suite.Core/obj/